{% extends "base.html" %}
{% block title %}Add{% endblock %}

{% block body %}
<h2>Add Lego</h2>
<div class="d-flex flex-column mb-3">
    <form action="{{ url_for('add_lego') }}" method="POST">
        {{ lego_form.csrf_token() }}
        {{ lego_form.l_title.label }}
        {{ lego_form.l_title }}
        {{ lego_form.description.label }}
        {{ lego_form.description }}
        {{ lego_form.picture_path.label }}
        {{ lego_form.picture_path }}
        {{ lego_form.instructions_url.label }}
        {{ lego_form.instructions_url }}
        {{ lego_form.submit }}
    </form>
</div>

{% endblock %}