{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block body %}
    <h1>All of {{ current_user.username }}'s Legos</h1>
    {% for lego in legos %}

    <div class="card" style="width: 18rem;">
        <img src="{{ lego.picture_path }}" class="card-img-top" alt="Picture of Lego set">
        <div class="card-body">
          <h5 class="card-title">{{ lego.l_title }}</h5>
          <p class="card-text">{{ lego.description }}</p>
          <a href="/lego_set/{{ lego.lego_id }}" class="btn btn-primary">View Lego</a>
          <a href="/lego_set/{{ lego.lego_id }}" class="btn btn-primary">View Lego</a>
          
        </div>
    </div>
    {% endfor %}
{% endblock %}