{% extends 'base.html' %}
{% block title %}Collections{% endblock %}

{% block body %}
<h1>Collections</h1>
<ul>
    {% for collection in collections %}

    <div class="card d-flex align-items-center">
        <!-- not working -->
        <div class="card-body">
            <a href="/collections/{{ collection.c_id }}">
                {{ collection.c_title }}
            </a>
        </div>
    </div>
    <br>
    {% endfor %}

    <div class="card align-items-center">
        <div class="card-body">
            <a href="/all_legos">
                All Legos
            </a>
        </div>
    </div>
    <br>
    <div class="card align-items-center">
        <div class="card-body">
            <a href="/add_collection">
                Add Collection
            </a>
        </div>
    </div>

</ul>
{% endblock %}