{% extends 'base.html' %}
{% block title %}Collections{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center align-items-center">
        <h1>Collections</h1>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center mt-3">
            {% for collection in collections %}

            <div class="card d-flex align-items-center w-25 mb-3">
                <div class="card-body">
                    <a href="/collections/{{ collection.c_id }}">
                        {{ collection.c_title }}
                    </a>
                </div>
            </div>
            <br>
            {% endfor %}

            <div class="card align-items-center w-25">
                <div class="card-body">
                    <a href="/all_legos">
                        All Legos
                    </a>
                </div>
            </div>
            <br>
            <div class="card align-items-center w-25">
                <div class="card-body">
                    <a href="/add_collection">
                        Add Collection
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}