{% extends 'base.html' %}
{% block title %}Collection{% endblock %}

{% block body %}
    <div class="card" style="width: 18rem;">
        <img src="{{ lego.picture_path }}" class="card-img-top" alt="Picture of Lego set">
        <div class="card-body">
          <h5 class="card-title">{{ lego.l_title }}</h5>
          <p class="card-text">{{ lego.description }}</p>
          <a href="{{ lego.instructions_url }}" class="link">Instructions</a>
          <br>
          <br>
          <a href="/update_lego/{{ lego.lego_id }}" class="btn btn-primary">Edit Lego</a>
          <a href="/delete_lego/{{ lego.lego_id }}" class="btn btn-primary">Delete Lego</a>
          
        </div>
    </div>
{% endblock %}